.menu-wrapper {
  display: flex;
}

.menu-item-wrapper {
  display: flex;
  margin: 0px 2px;
}

.menu-img {
  padding: 10px 10px;
  width: 100px;
  height: 50px;
  background-color: #003686;
  border: 0px;
}

.menu-img:hover {
  background-color: #134a9e;
}

li {
  list-style-type: none;
}


